@model Safoa.Models.Engine

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

@using (Ajax.BeginForm("Edit", "Engines", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "contentBodyData", OnSuccess = "saveDone" }, new { @class = " nav-link ", @role = "form" }))
{

    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)


    <div class="form-body ">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-md-line-input  ">
                @Html.EditorFor(model => model.EngineNum, new { htmlAttributes = new { @class = "form-control ", required = "required" } })

                <label for="EngineNum">
                    رقم المحرك
                    <span class="required" aria-required="true"> * </span>
                </label>

                @Html.ValidationMessageFor(model => model.EngineNum, "", new { @class = "text-danger " })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-md-line-input  ">
                @Html.EditorFor(model => model.CertificateNum, new { htmlAttributes = new { @class = "form-control", required = "required" } })

                <label for="CertificateNum">
                    رقم الشهادة
                    <span class="required" aria-required="true"> * </span>
                </label>
                @Html.ValidationMessageFor(model => model.CertificateNum, "", new { @class = "text-danger " })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-md-line-input  ">
                @Html.EditorFor(model => model.VoucherNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.VoucherNum, "رقم الإفراج", htmlAttributes: new { @class = "" })
                @Html.ValidationMessageFor(model => model.VoucherNum, "", new { @class = "text-danger " })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-md-line-input">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.Name, "إسم المشترى", htmlAttributes: new { @class = "" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger " })
            </div>

        </div>
        <div class="col-md-4">

            <div class="form-group form-md-line-input">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "" })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger " })
            </div>
        </div>
        <div class="col-md-4">

            <div class="form-group form-md-line-input">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "" })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger " })
            </div>
        </div>
    </div>
    <div class="form-actions noborder">
        <button type="submit" class="btn blue">Submit</button>
        <a href="@Url.Content("~/Engines/Index")" class="nav-link nav-toggle nav-link btn default " data-ajax="true" HttpMethod="Get"
           data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#contentBodyData">
            <span class="title fa fa-backward"> رجوع </span>
        </a>
    </div>


</div>
}


