@model IEnumerable<Safoa.Models.Engine>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null; ;
}




<div class="col-md-12 col-sm-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <p>

        <a href="@Url.Content("~/Engines/Create")" class="nav-link nav-toggle nav-link btn green" data-ajax="true" HttpMethod="Get"
           data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#contentBodyData">
            <span class="title">جديد</span>
        </a>
    </p>
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>محركات
            </div>
            <div class="actions">
            </div>
        </div>
        <div class="portlet-body">
            <div id="engine_list_wrapper" class="dataTables_wrapper no-footer">
                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="engine_list">
                    <thead>
                        <tr>
                            <th>
                                رقم المحرك
                            </th>
                            <th>
                                رقم الشهادة
                            </th>
                            <th>
                                رقم الافراج
                            </th>
                            <th>
                                تاريخ
                            </th>
                            <th>
                                الإسم
                            </th>
                            <th>ملاحظات</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EngineNum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CertificateNum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VoucherNum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Notes) 
                                  
                                </td>
                                <td>
                                    <a href="@Url.Content("~/Engines/Delete/")@item.Id" class="nav-link nav-toggle nav-link btn btn-danger " data-ajax="true" HttpMethod="Get"
                                       data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#contentBodyData">
                                        <span class="title fa fa-recycle"> مسح </span>
                                    </a>
                                    <a href="@Url.Content("~/Engines/Edit/")@item.Id" class="nav-link nav-toggle nav-link btn yellow " data-ajax="true" HttpMethod="Get"
                                       data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#contentBodyData">
                                        <span class="title fa fa-pencil-square-o"> تعديل </span>
                                    </a>
                                    <a href="@Url.Content("~/Engines/Details/")@item.Id" class="nav-link nav-toggle nav-link btn default " data-ajax="true" HttpMethod="Get"
                                       data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#contentBodyData">
                                        <span class="title fa fa-eye"> تفاصيل </span>
                                    </a>
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id })*@
                                
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
<script>
    $(document).ready(function () {
        $('#engine_list').DataTable({

        });
    });
</script>