@model Safoa.Models.Item

@{
    ViewBag.Title = "Delete";
    Layout = null;
}



<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h34>Engine</h34>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>


    </dl>


    @using (Ajax.BeginForm("Delete", "Items", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "contentBodyData", OnSuccess = "saveDone" }, new { @class = " nav-link ", @role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a href="@Url.Content("~/Items/Index")" c class="nav-link nav-toggle nav-link btn default " data-ajax="true" HttpMethod="Get"
               data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#contentBodyData">
                <span class="title fa fa-backward"> رجوع </span>
            </a>
        </div>
    }
</div>